/* Global */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  color-scheme: dark light;
}

/* General */
body {
  padding-top: 12em;
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 10em;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
}

nav > button {
  margin: 1em 1em 0 0;
}

footer {
}

a {
  font-size: 2em;
  text-decoration: none;
  color: unset;
}

p {
  font-size: 1.6em;
}

span {
  font-size: 1.8em;
}

button {
  border: none;
  background: none;
  font-size: 2em;
  cursor: pointer;
}

/* About Me */
.about_me {
  margin: 0 auto;
  padding: 2.5em;
  border: 1px solid;
  border-radius: 1em;
  width: 80%;
  display: flex;
  gap: 5em;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}

.me {
  min-width: 20em;
  min-height: 20em;
  border: 1px solid;
  border-radius: 50%;
}

.contacto {
  display: flex;
  justify-content: space-around;
}

.social {
  display: flex;
  gap: 1.2em;
}

.link {
  border: 1px solid;
  border-radius: 50%;
}

.link > i {
  margin: .5em;
}

.correo {
  padding: .8em 2em ;
  border: 1px solid;
  border-radius: 2em;
  text-align: center;
}

.correo>span {
  margin-right: .8em;
}

.cv {
  padding: 1em 2em;
  border: 1px solid;
  border-radius: 1em;
}

/* Seccion de proyectos */
.proyectos {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3em;
}

.proyectos > div {
  border: 1px solid;
  border-radius: 1em;
  min-width: 20em;
  min-height: 20em;
  text-align: center;
}

.div4 {
  grid-row: span 3 / span 3;
}

.div5 {
  grid-row: span 2 / span 2;
}

.div6 {
  grid-column: span 2 / span 2;
}

.div7 {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

/* Tema claro */
/* Tema oscuro */
